@import url('https://fonts.googleapis.com/css2?family=Montserrat,wght@500,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  background-image: linear-gradient(
    135deg,
    #e9e8e8 25%,
    #e0e0e0 25%,
    #e0e0e0 50%,
    #e9e8e8 50%,
    #e9e8e8 75%,
    #e0e0e0 75%,
    #e0e0e0 100%
  );
  background-size: 10px 10px;
}

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    @apply text-regular bg-background antialiased;
    font-size: 16px;
  }
}
